#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    
}
.wrapper{
    z-index: 2;
    position: relative;

}
.searchbar {
    display: inline-block;
    text-align: center;
    margin-left: 38%;
    margin-bottom: 40%;
  
    
  
}
.results {
    display: flex;
    padding-top: 0%;
    font-family: 'Orbitron', sans-serif;
}
form { 
    background:rgba(0,0,0,0.4);
    color: #00BFFF;
    font-family: 'Orbitron', sans-serif;
}
.description {
    vertical-align: bottom;
    border: solid 5px black;
    border-radius: 250em 250em 250em 250em;
    display: inline-block;
    width: 50%;
    text-align: center;
    background: rgba(0,0,0,0.4);
    font-family: 'Orbitron', sans-serif;
    color: 	#00BFFF;
}   
.stats {
    border: solid 5px black;
    border-radius: 250em 250em 250em 250em;
    display: inline-block;
    width: 50%;
    text-align: center;
    background: rgba(0,0,0,0.4);
    font-family: "Orbitron", sans-serif;
    color: 	#00BFFF;
}