body {
    /* border: solid 1px black; */
    background: url("http://jonvilma.com/images/world-of-warcraft-legion-4.jpg") no-repeat;
    color: red;
}

.wrapper {
    /* border: solid 1px green; */

}
.searchbar {
    display: inline-block;
    text-align: center;
    margin-left: 30%;
    font-family: "Orbitron", sans-serif;
  
}
.results {
    /* border: solid 1px red; */
    display: flex;
    padding-top: 0%;
    font-family: 'Orbitron', sans-serif;
}
form {
    background: #00A359;
    color: black;
    font-family: 'Orbitron', sans-serif;
}
.description {
    border: solid 5px black;
    border-radius: 250em 250em 250em 250em;
    display: inline-block;
    width: 50%;
    text-align: center;
    background:#00A359;
    font-family: 'Orbitron', sans-serif;
}   
.stats {
    border: solid 5px black;
    border-radius: 250em 250em 250em 250em;
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #00A359;
    font-family: "Orbitron", sans-serif;
}